<div class="text-center">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user) %>

  <% if @user == current_user %>
      <p class="buffer-top">
        <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'btn btn-default' %>
      </p>
  <% end %>
</div>


<div class="row">
  <div class="col-md-12">
    <% if @user.posters.any? %>
        <h3>Созданные обявления:</h3>
        <div class="row">
          <%= render partial: 'posters/poster', collection: @user.posters %>
        </div>
    <% else %>
        <p class="buffer-top">Пользователь пока не создал ни одного объявления</p>
    <% end %>
  </div>
</div>